<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <div id="messages">
    <%= render @messages %>
  </div>
  <ul class="message-list"></ul>
  <form id="form" action="">
    <input id="input" autocomplete="off" />
    <button type="submit" class="send-button">送信</button>
  </form>
</body>
</html>
