<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <div id="messages">
    <%= render @messages %>
  </div>
  <ul class="message-list"></ul>
  <div class="send-bar-container">
    <form class="send-bar" action="">
      <input id="input" class="input" autocomplete="off" />
      <button type="submit" class="send-button">送信</button>
    </form>
  </div>
</body>
</html>
